.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/
.DS_Store
/build
/captures

/release

Store Assets/
Security files/
/8vim/lint-report.html

8vim/release/8vim-release.apk

8vim/release/output-metadata.json

8vim/release/

fastlane/report.xml
