<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name_with_flavour"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl"
        tools:targetApi="s">
        <service
            android:name="inc.flide.vim8.MainInputMethodService"
            android:exported="true"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="inc.flide.vim8.ui.SettingsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.yaml" />
                <data android:pathPattern=".*\\.yml" />
                <data android:host="*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />


    </application>
</manifest>